.example-container {
  width: 100vw;
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.main-content {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
  min-width: 20%;
  display: flex;
  flex: 1;
}

.mainNavbar{
  background-color: #1976d2;
  color: white;
  flex: 1 1 auto;
  position: sticky;
  position: -webkit-sticky; 
  top: 0; 
  z-index: 1000;
}